<!--Main Navigation-->
<div class="jumbotron">
  <div class="container text-center">
    <h1>(주)별표수세미</h1>
    <p>실험 프로그램</p>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="#"><strong>Star</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "CS 문의", cscenters_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Option-1", "#", class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Option-2", "#", class: 'nav-link' %>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.email %> <b class="caret"></b></a>
              <div class="dropdown-menu">
                <h5 class="dropdown-header">일반사용자</h5>
                <%= link_to "나의정보", edit_user_registration_path, class: 'dropdown-item' %>
                <hr>
                <h5 class="dropdown-header">관리자</h5>
                <a class="dropdown-item" href="#">Administrator</a>
                <hr>
                <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "정말 로그아웃하시겠습니까?" }, class: 'dropdown-item' %>
              </div>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "로그인", new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "회원가입 ", new_user_registration_path, class: 'nav-link' %>
            </li>
            <% end %>
        </ul>
    </div>
</nav>
<!--Main Navigation-->
